@using Auth0.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.OpenIdConnect;

<h1>Logged in</h1>

@foreach (var identity in User.Identities)
{
    <h2>@identity.Name</h2>
    <table>
        @foreach (var claim in identity.Claims)
        {
            <tr>
                <th align="left">@claim.Type</th>
                <td>@claim.Value</td>
            </tr>
        }
    </table>

    <a href="/logout">Logout @identity.FindFirst(".AuthScheme").Value</a>
}
